@media screen and (min-width : 1024px) {
	#logo {
		background: url(../data/FangDev-Logo.png);
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
		
		height: 243px;
		width: 664px;
		margin-left: auto;
		margin-right: auto;
	}
	
	#coming-soon {
		transition-duration: 0.4s;
		
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		
		top: 0px;
		background: url(../data/Coming-Soon.png);
		background-size: 256px 256px;
		background-repeat: no-repeat;
		background-position: center top;
	
		height: 256px;
		width: 664px;
		
		opacity: 0;
		visibility: none;
	}
	
	#logo:hover + #coming-soon, #coming-soon:hover {
		opacity: 1;
		visibility: visible;
	}
}

@media screen and (max-width : 1023px) {
	#logo {
		background: url(../data/FangDev-Logo-Small.png);
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
		
		height: 512px;
		width: 512px;
		margin-left: auto;
		margin-right: auto;
	}
	
	#coming-soon {
		transition-duration: 0.4s;
		
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		
		top: 10px;
		background: url(../data/Coming-Soon.png);
		background-size: 512px 512px;
		background-repeat: no-repeat;
		background-position: center top;
	
		height: 512px;
		width: 512px;
		
		opacity: 0;
		visibility: none;
	}
	
	#logo:hover + #coming-soon, #coming-soon:hover {
		opacity: 1;
		visibility: visible;
	}
}
